<nav class="navbar navbar-light bg-light colorNav">
  <div class="col-md-1 logoText">
      <a class="navbar-brand" href="#">
      <img src="/assets/img/logo.png" width="35" height="35" alt=""></a>
  </div>
  <div class="row input col-md-5">
      <div class="col-md-12 btn-group searchButton">
          <button type="button" class="btn btn-sm lupa"><i class="fas fa-search iconSearch"></i></button>
          <input id="searchImg" class="form-control inputSearch" type="search" placeholder="Buscar" aria-label="Search">
      </div>
  </div>
  <div class="row col-md-4 no-gutters">
      <button type="button" class="btn btn-sn btn-light color1">Inicio</button>
      <button type="button" class="btn btn-sn btn-light color">Siguiendo</button>
      <button type="button" class="btn btn-sn btn-light color">Explorar</button>
      <button type="button" class="btn btn-sn btn-light color"><img class="imgUser" src="/assets/img/user.png" alt="">Michi</button>
  </div>
</nav>